%style{ type: 'text/css' }
  a{ color: #6A4CC0 }
  \.centered { text-align: center }
  \h1.light { font-size: 1.5625rem }
  \p.spaced-lines { line-height: 1.3rem }

%p.centered
  - image = 'mailers/in_product_marketing/team-2.png'
  - attachments.inline[image] = File.read(Rails.root.join("app/assets/images", image))
  = image_tag attachments[image].url, { width: '88', style: 'width: 88px;' }

%h1.light.centered
  = s_("FreeUserCap|You've reached your member limit!")

%p.spaced-lines
  = s_("FreeUserCap|It looks like you've reached your limit of %{free_user_limit} members for \"%{namespace_name}\", according to the check we ran on %{date_time}. You can't add any more, but you can manage your existing members, for example, by removing inactive members and replacing them with new members.") % { namespace_name: @namespace_name, free_user_limit: Namespaces::FreeUserCap.dashboard_limit, date_time: l(@checked_at, format: :long) }

%p.spaced-lines{ style: 'margin-bottom: 24px;' }
  - end_link = "</a>".html_safe
  = s_("FreeUserCap|To get more members %{trial_link_start}start a trial %{trial_link_end} or %{upgrade_link_start}upgrade%{upgrade_link_end} to GitLab Premium or GitLab Ultimate.").html_safe % { upgrade_link_start: "<a href='#{@upgrade_url}'>".html_safe, upgrade_link_end: end_link, trial_link_start: "<a href='#{@start_trial_url}'>".html_safe, trial_link_end: end_link }

%p.centered
  = link_to s_("FreeUserCap|Manage members"), @manage_users_url, { style: 'color: white; background: #6A4CC0; border: none; border-radius: 4px; padding: 8px;' }

%p.centered
  = link_to s_("FreeUserCap|Explore paid plans"), @upgrade_url
